body {
  margin: 0;
  background-color: #222;
}

.ascii {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 2em;
}

.ascii pre {
  margin: 0
}

.repo_link {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: rgba(255,255,255,.2);
  text-decoration: none;
  font-family: 'Source Sans Pro', monospace;
  font-size: 1.25em;
  width: 150px;
  fill: rgba(255,255,255,.2);
  transition: fill .3s, transform .3s, color .3s;
}

.repo_link svg {
  margin-top: 5px;
}

.repo_link:hover {
  color: #fff;
  fill: #fff;
  transform: translateX(-50%) translateY(-15px);
}